################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.lock
*.vsidx
*.suo
/ProesBack/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/ProesBack/obj/Debug/net7.0/ProesBack.AssemblyInfo.cs
/ProesBack/obj/Debug/net7.0/ProesBack.AssemblyInfoInputs.cache
/ProesBack/obj/Debug/net7.0/ProesBack.assets.cache
/ProesBack/obj/Debug/net7.0/ProesBack.csproj.AssemblyReference.cache
/ProesBack/obj/Debug/net7.0/ProesBack.GeneratedMSBuildEditorConfig.editorconfig
/ProesBack/obj/Debug/net7.0/ProesBack.GlobalUsings.g.cs
/ProesBack/obj/ProesBack.csproj.nuget.dgspec.json
/ProesBack/obj/ProesBack.csproj.nuget.g.props
/ProesBack/obj/ProesBack.csproj.nuget.g.targets
/ProesBack/obj/project.assets.json
/ProesBack/obj/project.nuget.cache
*.gitkeep
/ProesBack/obj/Debug/net7.0/apphost.exe
/ProesBack/obj/Debug/net7.0/ProesBack.csproj.BuildWithSkipAnalyzers
/ProesBack/obj/Debug/net7.0/ProesBack.csproj.CopyComplete
/ProesBack/obj/Debug/net7.0/ProesBack.csproj.CoreCompileInputs.cache
/ProesBack/obj/Debug/net7.0/ProesBack.csproj.FileListAbsolute.txt
/ProesBack/obj/Debug/net7.0/ProesBack.dll
/ProesBack/obj/Debug/net7.0/ProesBack.genruntimeconfig.cache
/ProesBack/obj/Debug/net7.0/ProesBack.pdb
/ProesBack/obj/Debug/net7.0/staticwebassets/msbuild.build.ProesBack.props
/ProesBack/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.ProesBack.props
/ProesBack/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.ProesBack.props
/ProesBack/obj/Debug/net7.0/staticwebassets.build.json
*.dll
/ProesBack/bin/Debug/net7.0/ProesBack.deps.json
/ProesBack/bin/Debug/net7.0/ProesBack.exe
/ProesBack/bin/Debug/net7.0/ProesBack.pdb
/ProesBack/bin/Debug/net7.0/ProesBack.runtimeconfig.json
*.config
/ProesBack/.vs/Proes/DesignTimeBuild/.dtbcache.v2
/ProesBack/.vs/Proes/101161536
*.cache
*.txt
*.v2
/ProesBack/.vs/ProjectEvaluation/proes.metadata.v7.bin
/ProesBack/.vs/ProjectEvaluation/proes.projects.v7.bin
*.wsuo
/ProesBack/.vs/Proes/v17/TestStore/0/000.testlog
/ProesBack/.vs/Proes/v17/TestStore/0/testlog.manifest
/ProesTests/bin/Debug/net7.0
/ProesTests/obj
*.testlog
/ProesBack/.vs/Proes/copilot/101161536
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/ProesBack/obj/Release/net7.0
/ProesBack/obj/Debug/net7.0/ProesBack.sourcelink.json
ProesBack/.vs/Proes/copilot-chat/e5bfdaf8/V0_dee34c54-df44-4224-83c0-fccf55ee9999_Default
/ProesBack/appsettings.json
