<div class="d-flex align-items-center flex-column mt-3">
  <h1>Finish your register</h1>
  <div class="justify-content-center align-items-center">
    <form>
      <div class="form-outline mb-4">
        <label class="form-label">Email</label>
        <input type="email" name="Email" class="form-control" [(ngModel)]="user.email" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" [(ngModel)]="user.name" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label">Birth date</label>
        <input type="date" name="Birthdate" class="form-control" [(ngModel)]="user.birthDate" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label">Profile picture</label>
        <input type="file" name="Profile picture" class="form-control" />
      </div>

      <div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
      </div>
    </form>
  </div>
</div>
