@import 'bootstrap-icons/font/bootstrap-icons.css';

.apple-link {
  color: #626060;
  text-decoration: none;
}

  .apple-link:hover {
    color: #0056b3;
    
  }

  .apple-link:active {
    color: #0056b3;
  }

  .apple-link:focus {
    color: #0056b3;
    outline: none;
  }

  .bi-envelope{
      font-size:1.5em;
      color:white;
  }
