<nav *ngIf="isVisible" class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-4">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler"
            type="button"
            aria-controls="collapseNav"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="collapseNav" [collapse]="!isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item ms-0">
          <a class="nav-link active" aria-current="page" href="home">Proes</a>
        </li>
      </ul>

      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 position-relative">
        <div class="position-relative d-inline-block">

          <i (click)="showNotifications = !showNotifications" class="bi bi-envelope me-4"></i>
          <ul #listGroup class="list-group mt-2 position-absolute" *ngIf="showNotifications">
            <li class="list-group-item">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="../../assets/images/DefaultPFP.png" alt="Button Image" class="img-fluid rounded-circle mb-2" style="max-width: 40px; max-height: 40px;" />
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="fw-bold">Notification Title</div>
                  <div class="fw-light">Notification Body</div>
                </div>
              </div>
            </li>
          </ul>

          <img (click)="showList = !showList; stopClickPropagation($event)" src="../../assets/images/DefaultPFP.png" alt="Button Image" class="img-fluid rounded-circle mb-2" style="max-width: 40px; max-height: 40px;" />

          <ul (click)="stopClickPropagation($event)" *ngIf="showList" #listGroup class="list-group mt-2 position-absolute" style=" right: 0;">
            <li class="list-group-item p-3">
              <a [routerLink]="['/profile']" class="apple-link ">Profile</a>
            </li>
            <li class="list-group-item p-3">
              <a [routerLink]="['/settings']" class="apple-link ">Settings</a>
            </li>
            <li class="list-group-item p-3">
              <a (click)="logOut()"  class="apple-link" style="cursor: pointer;">Logout</a>
            </li>
          </ul>
        </div>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
