<div class="d-flex align-items-center flex-column">
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../assets/images/logo-no-background.png" class="mt-4" style="width:10%; height:10%"/>
  </div>
  <hr>

  <div class="d-flex justify-content-center align-items-center" *ngIf="!registerMode">
    <form (ngSubmit)="loginSubmit()">
      <div class="form-outline mb-4">
        <label class="form-label">Email</label>
        <input type="email" [(ngModel)]="login.username" name="email" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" [(ngModel)]="login.password" name="password" class="form-control" />
      </div>
      <alert type="danger" *ngIf="loginError">Email ou Senha incorretos</alert>
      <div class="row mb-4">
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
  </div>

  <div class="d-flex justify-content-center align-items-center" *ngIf="registerMode">
    <form (ngSubmit)="registerSubmit()">
      <div class="form-outline mb-4">
        <label class="form-label">Username</label>
        <input type="email" [(ngModel)]="login.username" name="username" class="form-control" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" [(ngModel)]="login.password" name="password" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
    </form>
  </div>

  <div class="d-flex justify-content-start mb-4" style="width: 15%">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="toggleSwitch" name="registerToggle" (change)="registerModeToggle()">
      <label *ngIf="!registerMode" class="form-check-label" for="toggleSwitch">Sign in Mode</label>
      <label *ngIf="registerMode" class="form-check-label" for="toggleSwitch">Register Mode</label>
    </div>
    <div class="ml-auto"></div>
  </div>
</div>
